[Unit]
Description=dhclient on %I
Wants=network.target
Before=network.target
After=wpa_supplicant@%i.service
BindsTo=wpa_supplicant@%i.service

[Service]
ExecStart=/sbin/dhclient -pf /run/dhclient@%i/dhclient.pid -d %I
RuntimeDirectory=dhclient@%i
ProtectSystem=on
ProtectHome=on

[Install]
WantedBy=multi-user.target
